bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/MpesaClient/FileContentIndex/9b76bea9-153c-4f7c-ba1d-2d3f27120d8a.vsidx
/.vs/MpesaClient/FileContentIndex/57390a1b-f3a4-4f5b-b978-9c21d2798b13.vsidx
/.vs/MpesaClient/FileContentIndex/67acf91f-fc99-4cf8-9115-92647d103459.vsidx
